.heading {
	font-size: 3rem;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	background: blue;
	/*border-style: outset;*/
	padding: 15px;
	border: 5px ridge white;

}

i {
	font-size: 4rem;
}

form {
	padding: 15px;
	font-size: 1.5rem;
	max-width: 400px;
}

input {
	font-size: 1.25rem;
}

.form-text {
	padding: 10px 0;
}

.js-search-results {
	padding: 0 15px 15px;
	font-size: 1.5rem;
}

.results {
	padding: 7.5px;
}

/* get the styles for both icon*/
@import "http://cssicon.space/css/icons.css";

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}