body {

}

#heading-inputs {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* vertical-align: baseline; */
	/* position: fixed; */
}


.heading {
	font-size: 3rem;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	/*background: blue;*/
	/*border-style: outset;*/
	padding: 15px;
	/*border: 5px ridge white;*/
}


#background-image {
	display: flex;
	justify-content: center;
	text-align: center;
		/* how to get height to auto-adjust but always show background image */
	height: 500px; 
		/* margin: auto;
    	width: 50%; */
	background:linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("points-of-interest.jpg") no-repeat center center;
		/* opacity: 0.5; */
	}

i {
	/* icon by the heading */
	font-size: 4rem;
}

form {
	padding: 15px;
	font-size: 1.5rem;
	max-width: 400px;
}

input {
	font-size: 1.25rem;
}

.form-text {
	font-weight: bold;
	padding: 10px 0;
}

button {
	margin-top: 10px;
	font-size: 1.5rem;
	width: 100%
	height: 35px;
	font-weight: bold;
	background-color: gold;
	border-radius: 8px;

}

#results-background {

}
.js-search-results {
	text-align: center;
	padding: 0 15px 15px;
	font-size: 1.5rem;


}

.results {
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow:rgb(71, 67, 67) 1px 0 7px;
	padding: 20px;
}
